{% trans_default_domain 'FOSUserBundle' %}
<div class="container">
	<div class="row">
		<div class="col-md-4">
			{% if is_granted('ROLE_ADMIN') %}
				<a href={{url('admin')}}>Go to Admin Page</a>
			{% endif %}<br><br>
			<a href="{{path('fos_user_change_password')}}">Change Password</a><br><br>
			<a href="{{path('_addressPage')}}">Edit Address</a>
			{# <a href="{{path('fos_user_profile_edit')}}">Edit Details</a>			 #}
		</div>
		<div class="col-md-4">
			<div class="fos_user_user_show">
			    <p><b>{{ 'profile.show.username'|trans }}:</b> {{ user.username }}</p>
			    <p><b>{{ 'profile.show.email'|trans }}:</b> {{ user.email }}</p>
				<p><b>{{ 'Last Login' }}:</b> {{ user.lastLogin.date | date('Y-m-d - H:i:s') }}</p>
			</div>
		</div>
	</div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br>