{% extends 'base.html.twig' %}
{% block body %}
{% include 'Header/header.html.twig' %}
<div class="container">
	<div class="row">
		<div class="col-md-2">
			<a href="{{path('_addressPage')}}" class="btn btn-link">Back</a>
		</div>
		<div class="col-md-offset-2 col-md-3">
			<h4>Edit Address</h4>
				{{form_start(form)}}
				{{form_row(form.name)}}
				{{form_row(form.surname)}}
				{{form_row(form.address)}}
				{{form_row(form.city)}}				
				{{ form_row(form.update) }}

		</div><br><br>
		<div class="col-md-offset-2 col-md-3">
				{{form_row(form.telephone)}}				
				{{form_row(form.country)}}
				{{form_row(form.cp)}}

		</div>
		{{form_end(form)}}
	</div>
</div>
{% endblock %}

