{% trans_default_domain 'FOSUserBundle' %}
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<a href="{{path('fos_user_profile_show')}}">
				<h4>Back</h4></a><br>			
		</div>
		<div class="col-md-4 login-form">
			<h2 align="center"><b>Change Password</b></h2>
			{{ form_start(form, { 'action': path('fos_user_change_password'), 
					'attr': { 'class': 'fos_user_change_password' } }) }}
			    {{ form_widget(form) }}			    
			    <div><br>
			        <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-primary" />
			        <a href="{{path('fos_user_profile_show')}}" class="btn btn-primary form-control">Back</a>
			    </div>
			{{ form_end(form) }}
		</div>
	</div>
</div><br>
